streamlit
langchain==0.3.7
langchain-community==0.3.7
langchain-openai==0.2.9
langchain-google-genai
langchain-text-splitters==0.3.8
openai
faiss-cpu==1.9.0
pypdf==5.1.0
python-dotenv==1.0.1
google-generativeai