streamlit
langchain==0.3.7
langchain-community==0.3.7
langchain-google-genai==2.0.7
langchain-text-splitters==0.3.8
langchain-core==0.3.63
faiss-cpu==1.9.0
pypdf==5.1.0
python-dotenv==1.0.1
google-generativeai
